@media screen and (max-width: 650px) {
   
    .column {
      width: 100%;
      display: block;
    }

    .news-details {
      padding: 10px;
    }

    .btn-primary {
      padding: 8px 16px;
    }
  }
  /* body{
    font-family: sans-serif;
} */

/* .container-fluid{
    padding: 3% 15%;
    
} */


 /* Navigation Bar */
 /* .navbar{
    padding:0 0  4.5rem;
 }

 /* .navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
    font-weight: bold;
 } */
 /* .nav-item{
    padding: 0 18px;
 }
 .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    /* font-weight: ; */
 

 /* Download Buttons */

 .download-button{
    margin: 5% 3% 5% 0
 }
 /* Title Image */
 .tilted{
    width:60%;

    transform: rotate(25deg);
 }

 /* features */
 #features{
   padding: 7% 15%;
 }
 .feature-box{
   text-align: center;
   padding: 5%;
 }
 .btn-primary {
   background-color: #93cb52; /* New button background color */
   color: #fff;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
   transition: background-color 0.3s;
 }
.icon{ 
   color: #ef8172; 
   margin-bottom: 1rem;
}
 .icon:hover {
   color: #ff4c68;
 }

/* testimonial section */
#testimonials {
   
   text-align: center;
   background-color: #474e5d;
   color:#FFF
}
.testimonial-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}
/* press section */
#press {
   background-color:#ef8172;
   text-align: center;
   padding-bottom: 3%;
}
.press-logo{
   width:10%;
   margin:20px 20px 50px;
}
.carousel-item{
   padding: 7% 15%;
} 
a{
   color: #e2e2e2;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
}
.bottom-container{
   background-color: #474e5d;
   padding: 50px 0px 20px;
   text-align: center;

}

body {
   margin: 0;
   padding: 0;
}
.hero {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background: url(/IMG/img1.jpg); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   filter: brightness(60%);
}
.hero-content {
   position: relative;
   font-family: "Monserrat", sans-serif;
   color: white;
   text-align: center;
   margin: 0.625rem;
}
.hero-title {
   font-size: 3rem;
   font-weight: 600;
   margin-bottom: 0;
}
.hero-subtitle {
   font-size: 2rem;
   font-weight: 200;
   margin-top: 1rem;
}
.hero-button {
   background-color: #2dae38;
   color: white;
   border: 1px solid #f0e8eb;
   margin-top: 5rem;
   padding: 0.9375rem1.875rem;
   font-family: "Monserrat", sans-serif;
   font-size: 1.125rem;
   font-weight: 200;
   cursor: pointer;
}
.hero-button:hover {
   background-color: #43cb37;
   border: 1px solid #db7598;
}



.btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background: #7ab436;
  }

  #what .items {
    display: flex;
    padding: 1rem;
  }
  
  #what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
  }
  
  #what .items .item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

      /* Style for WhatsApp button */
.whatsapp-button {
   position: fixed;
   bottom: 20px;
   right: 20px;
   z-index: 999;
 }
 
 /* Adjust the button style as needed */
 .whatsapp-button img {
   width: 60px;
   height: 60px;
   border-radius: 50%;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
  .whatsapp_float {
           position: fixed;
           width: 60px;
           height: 60px;
           bottom: 40px;
           right: 40px;
           background-color: #25d366;
           color: #FFF;
           border-radius: 50px;
           text-align: center;
           font-size: 30px;
           box-shadow: 2px 2px 3px #999;
           z-index: 100;
       }
 
       .whatsapp-icon {
           margin-top: 16px;
       }

       /* Responsive Styles */
@media (max-width: 768px) {
     .whatsapp-icon {
             margin-top: 10px;
         }

         .whatsapp_float {
             width: 40px;
             height: 40px;
             bottom: 20px;
             right: 10px;
             font-size: 22px;
         }
}
img {
   max-width: 100%;
   height: auto;
 }

@keyframes blink {
   0% { opacity: 1; }
   50% { opacity: 0; }
   100% { opacity: 1; }
}

/* Apply the animation to the paragraph with a class of "blink" */
.blink {
   animation: blink 1s infinite; /* Change the '1s' to adjust the speed */
}